@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,900&display=swap");
:root {
  --font-color-primary: rgb(53, 53, 53);
  --font-color-secondary: rgb(245, 245, 245);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", "verdana", "sans serif";
  font-size: 10px;
  color: var(--font-color-primary);
  margin: 0;
  padding: 0;
}

.main-container {
  background: url(images/svgs/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 2em;
}

.logo {
  cursor: pointer;
  max-width: 70px;
  min-width: 70px;
}

.burger-btn {
  font-size: 2em;
}

.nav-menu-block {
  display: block;
}

.nav-menu-none {
  display: none;
}

.nav-menu {
  z-index: 9999;
  position: fixed;
  text-align: center;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: var(--font-color-secondary);
  background-color: rgba(0, 0, 0, 0.98);
}

.nav-menu .close {
  margin: 1em 8em 1em 0;
  font-size: 3em;
}

.nav-menu .nav-ul {
  list-style: none;
  padding: 0;
}

.nav-menu .nav-ul li {
  margin-bottom: 8%;
}

.nav-menu .nav-ul > li > a {
  font-size: 2em;
  color: var(--font-color-secondary);
  text-decoration: none;
}

.nav-menu .nav-ul .socials-caret {
  display: none;
}

.nav-menu .nav-ul .socials-list {
  font-size: 2em;
}

.nav-menu .nav-ul .socials-list > .socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1.5em;
}

.nav-menu .nav-ul .socials-list > .socials-links li {
  margin: 5% 5%;
}

.nav-menu .nav-ul .socials-list > .socials-links a {
  color: var(--font-color-secondary);
  text-decoration: none;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
  text-align: center;
  height: 80vh;
}

.hero-section .hero-section-h1 {
  font-size: 3em;
}

.hero-section .hero-section-description * {
  display: inline;
}

.hero-section .hero-section-description {
  height: 100px;
}

.hero-section .hero-section-description > i {
  position: relative;
  font-size: 0.9em;
  bottom: 1em;
}

.hero-section .hero-section-description > p {
  font-weight: bold;
  font-size: 1.5em;
}

.hero-section .hero-img {
  max-width: 250px;
  min-width: 250px;
}

img {
  width: 200px;
}

.about-section {
  display: block;
  background: #3f3d56;
  margin-top: 2em;
  padding: 2em;
  color: var(--font-color-secondary);
  border-top-left-radius: 1em;
  border-top-right-radius: 5em;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 1em;
}

.about-section .about-section-current {
  font-size: 2em;
}

.about-section .about-section-current .current-courses {
  text-align: center;
  font-size: 1.2em;
}

.about-section .about-section-current .current-courses .curr-studying {
  font-weight: bold;
}

.about-section .about-section-current .current-courses ul {
  margin-left: 1.5em;
}

.about-section .about-section-current .current-courses li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.about-section .about-section-about-me {
  font-size: 2em;
}

.about-section .about-section-about-me .journey {
  font-size: 1.2em;
  font-weight: bold;
}

.about-section .about-section-about-me .skip a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.about-section .finished-certificates ul {
  padding: 0;
  list-style: none;
}

.about-section .finished-certificates ul a {
  font-size: 0.7em;
  text-decoration: underline;
  color: #c4c4c4;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  color: var(--font-color-primary);
  font-size: 2em;
}

.projects .projects-in-the-making figure {
  margin: 0;
}

.projects .projects-in-the-making img {
  width: 200px;
  border-radius: 1em;
}

.projects .projects-in-the-making h2 {
  font-size: 2em;
}

.projects .projects-in-the-making h3 {
  font-size: 1.5em;
}

.projects .projects-in-the-making a {
  text-decoration: underline;
  color: var(--font-color-primary);
  font-size: 0.8em;
}

.projects .projects-in-the-making > div {
  margin-top: 1em;
}

.projects .apps-to-create {
  list-style: none;
  padding: 0;
}

.contact {
  text-align: center;
}

.contact h2 {
  font-size: 3em;
  text-shadow: 0px 0px 1px 5px black;
}

.contact p {
  font-size: 1.5em;
}

.contact .form-div input {
  font-family: "Source sans pro";
  padding: 1em 3em;
  margin-bottom: 1em;
  background: #f1f1f1;
  color: var(--font-color-primary);
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 1px 1px 10px 0px black;
          box-shadow: 1px 1px 10px 0px black;
  border-radius: 1em;
}

.contact .form-div textarea {
  font-family: "Source sans pro";
  background: #f1f1f1;
  color: var(--font-color-primary);
  font-weight: bold;
  padding: 1em;
  border: none;
  -webkit-box-shadow: 1px 1px 10px 0px black;
          box-shadow: 1px 1px 10px 0px black;
  border-radius: 1em;
}

.contact .form-div button {
  padding: 1.5em 3em;
  margin-top: 1em;
  border: none;
  background: black;
  color: var(--font-color-secondary);
  border-radius: 2em;
}

footer {
  margin-top: 5em;
  text-align: center;
  color: var(--font-color-primary);
}

@media only screen and (min-width: 321px) {
  .finished-certificates {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */