@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,900&display=swap");

:root {
    --font-color-primary: rgb(53, 53, 53);
    --font-color-secondary: rgb(245, 245, 245);
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans Pro", "verdana", "sans serif";
    font-size: 10px;
    color: var(--font-color-primary);
    margin: 0;
    padding: 0;
}

.main-container {
    background: url(images/svgs/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    background: rgba(226, 163, 163, 0.9);
    padding: 0 2em;
}

.logo {
    cursor: pointer;
    max-width: 70px;
    min-width: 70px;
}

.burger-btn {
    font-size: 2em;
}

.nav-menu-block {
    display: block;
}
.nav-menu-none {
    display: none;
}

.nav-menu {
    z-index: 9999;
    position: fixed;
    text-align: center;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: var(--font-color-secondary);
    background-color: rgba(0, 0, 0, 0.98);

    .close {
        margin: 1em 8em 1em 0;
        font-size: 3em;
    }

    .nav-ul {
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 8%;
        }
        > li > a {
            font-size: 2em;
            color: var(--font-color-secondary);
            text-decoration: none;
        }

        //SOCIALS-LIST
        .socials-caret {
            display: none;
        }
        .socials-list {
            font-size: 2em;
        }
        .socials-list > .socials-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            font-size: 1.5em;
            li {
                margin: 5% 5%;
            }

            a {
                color: var(--font-color-secondary);
                text-decoration: none;
            }
        }
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    text-align: center;
    height: 80vh;

    .hero-section-h1 {
        font-size: 3em;
    }

    .hero-section-description * {
        display: inline;
    }
    .hero-section-description {
        height: 100px;
    }
    .hero-section-description > i {
        position: relative;
        font-size: 0.9em;
        bottom: 1em;
    }
    .hero-section-description > p {
        font-weight: bold;
        font-size: 1.5em;
    }
    .hero-img {
        max-width: 250px;
        min-width: 250px;
    }
}

img {
    width: 200px;
}

.about-section {
    display: block;
    background: rgb(63, 61, 86);
    margin-top: 2em;
    padding: 2em;
    color: var(--font-color-secondary);
    border-top-left-radius: 1em;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 1em;

    .about-section-current {
        font-size: 2em;

        .current-courses {
            text-align: center;
            font-size: 1.2em;
            .curr-studying {
                font-weight: bold;
            }
            ul {
                margin-left: 1.5em;
            }
            li {
                width: max-content;
            }
        }
    }

    .about-section-about-me {
        font-size: 2em;
        .journey {
            font-size: 1.2em;
            font-weight: bold;
        }
        .skip a {
            text-decoration: underline;
            color: white;
            font-weight: bold;
        }
    }

    .finished-certificates {
        ul {
            padding: 0;
            list-style: none;
            a {
                font-size: 0.7em;
                text-decoration: underline;
                color: rgb(196, 196, 196);
            }
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    color: var(--font-color-primary);
    font-size: 2em;

    .projects-in-the-making {
        figure {
            margin: 0;
        }
        img {
            width: 200px;
            border-radius: 1em;
        }
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.5em;
        }
        a {
            text-decoration: underline;
            color: var(--font-color-primary);
            font-size: 0.8em;
        }
        > div {
            margin-top: 1em;
        }
    }

    .apps-to-create {
        list-style: none;
        padding: 0;
    }
}

.contact {
    text-align: center;

    h2 {
        font-size: 3em;
        text-shadow: 0px 0px 1px 5px black;
    }

    p {
        font-size: 1.5em;
    }
    .form-div {
        input {
            font-family: "Source sans pro";
            padding: 1em 3em;
            margin-bottom: 1em;
            background: rgb(241, 241, 241);
            color: var(--font-color-primary);
            font-weight: bold;
            border: none;
            box-shadow: 1px 1px 10px 0px black;
            border-radius: 1em;
        }
        textarea {
            font-family: "Source sans pro";
            background: rgb(241, 241, 241);
            color: var(--font-color-primary);
            font-weight: bold;
            padding: 1em;
            border: none;
            box-shadow: 1px 1px 10px 0px black;
            border-radius: 1em;
        }
        button {
            padding: 1.5em 3em;
            margin-top: 1em;
            border: none;
            background: black;
            color: var(--font-color-secondary);
            border-radius: 2em;
        }
    }
}

footer {
    margin-top: 5em;
    text-align: center;
    color: var(--font-color-primary);
}

@media only screen and (min-width: 321px) {
    .finished-certificates {
        text-align: center;
    }
}

@media only screen and (min-width: 337px) {
    .contact {
        p {
            padding: 0 2em;
            font-size: 1.5em;
        }
    }
}

@media only screen and (min-width: 660px) {
    .hero-section {
        flex-direction: row;
    }
}

@media only screen and (min-width: 769px) {
    .burger-btn {
        display: none;
    }
    .nav-menu-none {
        display: block;
    }
    .close {
        display: none !important;
    }
    .nav-menu {
        width: max-content;
        height: max-content;
        position: relative;
        color: var(--font-color-primary);
        background-color: transparent;
    }
    .nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
        > li {
            margin-bottom: 0 !important;
        }
    }
    .nav-menu .nav-ul > li > a {
        color: var(--font-color-primary);
    }
    .socials-caret {
        display: inline-block !important;
        position: relative;
        top: 2px;
        margin-left: 5px;
    }
    .socials-links {
        display: none !important;
    }
    .socials-list {
        cursor: pointer;
    }
    .socials-list:hover .socials-links {
        display: flex !important;
        position: absolute;
        flex-direction: row;
        width: 300px;
        height: 50px;
        top: 35px;
        left: 65px;
        border-radius: 1em;
        background-color: rgba(235, 235, 235, 0.95);
        li {
            position: relative;
        }
        a {
            color: var(--font-color-primary) !important;
        }
    }
    .logo {
        min-width: 60px;
        max-width: 100px;
    }
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 1441px) {
}
